[submodule "packages/joplin_database"]
	path = packages/joplin_database
	url = git@github.com:TasteOfIT/joplin_database.git
[submodule "packages/markdown_viewer"]
	path = packages/markdown_viewer
	url = git@github.com:TasteOfIT/markdown_viewer.git
[submodule "packages/markdown_parser"]
	path = packages/markdown_parser
	url = git@github.com:TasteOfIT/markdown_parser.git
[submodule "packages/markdown_editor"]
	path = packages/markdown_editor
	url = git@github.com:TasteOfIT/markdown_editor.git
